.container {
    display: flex;
}

.image-container {
    flex-basis: 50%;
    padding: 0 20px;
}

.form-container {
    flex-basis: 50%;
}

.image-container img {
    width: 100%;
    height: 673px;
    display: block;
    max-width: 100%;
}

.form-group {
    margin-bottom: 16px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-container {
    text-align: right;
}


